#start{
    float: center;
    background-color: blue;
}


 #game-area{
     display: none;
 }
h2{
    text-align: center;
}
ul {

list-style: none;
margin: 10px;
justify-content: center;
}

li {
    justify-content: center;
    width: fit-content;
    background-color: cadetblue;
    border: 1px solid black;
    margin: 10px;
}
 
button{
    margin: 10px;
}

#yourScore{
    display: none;
}

#submit{
    display: none;
}