#start{
    float: center;
    background-color: blue;
}

#first{
    display:none;
}

#secound{
    display:none;
}

#third{
    display:none;
}

.question h2{
    text-align: center;
}
.question ul li{
list-style: none;
margin: 10px;
text-align: center;
}

